# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac 
.DS_Store

# C extensions
*.so

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# File to test stuff
test_python.py

# Database
a.db
